@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model EMSFRONTEND.Models.LeaveRequestModel

<!DOCTYPE html>
<html>
<head>
    <title>Leave Request Form</title>
    <style>
        body {
            background-color: #f8f8f8;
        }

        .card {
            width: 400px;
            background-color: #fff;
            border: none;
            border-radius: 12px;
        }

        label.radio {
            cursor: pointer;
            width: 100%;
        }

            label.radio input {
                position: absolute;
                top: 0;
                left: 0;
                visibility: hidden;
                pointer-events: none;
            }

            label.radio span {
                padding: 7px 14px;
                border: 2px solid #eee;
                display: inline-block;
                color: #039be5;
                border-radius: 10px;
                width: 100%;
                height: 48px;
                line-height: 27px;
            }

            label.radio input:checked + span {
                border-color: #039be5;
                background-color: #81d4fa;
                color: #fff;
                border-radius: 9px;
                height: 48px;
                line-height: 27px;
            }

        .form-control {
            margin-top: 10px;
            height: 48px;
            border: 2px solid #eee;
            border-radius: 10px;
        }

            .form-control:focus {
                box-shadow: none;
                border: 2px solid #039be5;
            }

        .agree-text {
            font-size: 12px;
        }

        .terms {
            font-size: 12px;
            text-decoration: none;
            color: #039be5;
        }

        .confirm-button {
            height: 50px;
            border-radius: 10px;
        }

        #SubmitButton
        {
            margin-left:120px;
            margin-top:10px;
        }
    </style>
</head>
<body>
    <div class="container mt-5 mb-5 d-flex justify-content-center">
        <div class="card px-1 py-4">
            <div class="card-body">
                <h6 class="card-title mb-3">Leave Request Form</h6>

                <form asp-action="Create" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label asp-for="FromDate" class="col-sm-4 control-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="FromDate" type="date" class="form-control" />
                            <span asp-validation-for="FromDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ToDate" class="col-sm-4 control-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="ToDate" type="date" class="form-control" />
                            <span asp-validation-for="ToDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Reason" class="col-sm-6 control-label"></label>
                        <div class="col-sm-10">
                            <textarea asp-for="Reason" class="form-control" rows="3"></textarea>
                            <span asp-validation-for="Reason" class="text-danger"></span>
                        </div>
                    </div>
                
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" id="SubmitButton">Submit</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <a asp-action="ViewLeaveRequestStatus" class="btn btn-primary">View My Leave Status</a>
 <div class="mt-3">
    <a href="@Url.Action("EmployeeView", "Dashboard")" class="btn btn-outline-primary">Back to Dashboard</a>
  </div>

</body>
</html>