@{
    ViewData["Title"] = "manager Dashboard";
}

<h1>Welcome to the manager Dashboard</h1>
<!-- Add your employee dashboard content here -->
<div>

    <a asp-controller="LeaveRequestMvc" asp-action="ApproveOrRejectLeave" class="btn btn-primary">View Leave Requests</a>
    <a asp-controller="Performance" asp-action="PerformanceView" class="btn btn-primary">Performance</a>
</div>

